<head>
  <link rel="stylesheet" href="/assets/header.sass.erb"> 
</head>
<div class="menu">
  <%= link_to "Home", home_path, :class => current_class?(home_path) %>
  <%= link_to "Projects", projects_index_path, :class => current_class?(projects_index_path) %>
  <%= link_to "About", about_path, :class => current_class?(about_path) %>
  <%= link_to "Contact", contact_path, :class => current_class?(contact_path) %>
</div>

<div class="header">
  <div class="header__left">
    <a class="logo" onclick="window.location = '/home';">Gb</a>
  </div>
  <div class="filler"></div>
  <div class="header__right">
    <%= link_to "Home", home_path, :class => current_class?(home_path) %>
    <%= link_to "Projects", projects_index_path, :class => current_class?(projects_index_path) %>
    <%= link_to "About", about_path, :class => current_class?(about_path) %>
    <%= link_to "Contact", contact_path, :class => current_class?(contact_path) %>
  </div>

  <div class="menu-btn" onclick="clickMenu">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
