<div class="main" style="box-shadow: none; height: 100%; display: flex; flex-direction: column; justify-content: center; align-content: center;">
  <div class="row" style="">
    <div class="content" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <div class="form__heading" style="align-self: center;">Edit Project</div>
      <%= form_for [:admin, @project] do |f| %>
        <% if @project.errors.any? %>
          <% @project.errors.full_messages.each do |msg| %>
            <div><%= msg %></div>
          <% end %>
        <% end %>

        <%= f.text_field :title, placeholder: "Title" %>
        <%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'}%>
        <p class="btn--file">
          <%= f.file_field :image %>
          <%= f.label :select_image %>
        </p>
        <%= f.text_field :tags, placeholder: "Tags" %>
        <%= f.text_field :body, placeholder: "Body" %>

        <div style="display: flex; width: 100%; height: 100%; align-items: center; justify-content: center;">
          <%= f.submit "Submit", class:'btn' %>
          <%= link_to "Cancel", admin_projects_path, class:'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
