<%= render 'partials/header_admin' %>

<div class="main" style="box-shadow: none; height: 100%; display: flex; flex-direction: column; justify-content: center; align-content: center;">
  <div class="row" style="">
    <div class="content" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <div class="content__heading-2" style="align-self: center;">Manage Categories</div>
      <%= link_to "Create", new_admin_category_path, class:'btn' %>
      <table>
        <tr>
          <th>Category Title</th>
          <th>Date Created</th>
          <th>Actions</th>
        </tr>
        <% @categories.each do |category| %>
          <tr>
            <th><%= category.name %></th>
            <th><%= category.created_at.to_time.strftime('%B %e at %l:%M %p') %></th>
            <th><%= link_to "Edit", edit_admin_category_path(category), class:'btn' %> <%= link_to "Delete", admin_category_path(category), class:'btn', method: :delete, data: {confirm: 'Are you sure?'} %></th>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>
